<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <link th:href="@{/main.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/5f58b769bf.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <title>Notification settings</title>
</head>

<body>
  <body>
    <div th:insert="fragments/general :: header"></div>
    <div class="notification_settings">
      <form class="noticiation_settings_form" action="#" th:action="@{/users/notificatons}" th:object="${notification_settings}" method="post">
        <h2>Notification settings</h2>
        <label for="dailyNotificationsYes">Daily reminders:</label>
        <p>Yes</p>
        <input type="checkbox" id="dailyYes" name="dailyYes" >
        <p>No</p>
        <input type="checkbox" id="dailyNo" name="dailyno">
        <br>
        <label for="mobileNotificationsYes">Mobile notifications:</label>
        <p>Yes</p>
        <input type="checkbox" id="mobileYes" name="mobileYes" >
        <p>No</p>
        <input type="checkbox" id="mobileNo" name="mobileNo" >
        <br>
        <br>  
        <label for="emailNotifications">Email notifications:</label>
        <p>Yes</p>
        <input type="checkbox" id="dailyYes" name="dailyYes"  >
        <p>No</p>
        <input type="checkbox" id="dailyNo" name="dailyno" >
        <br>
        <div class="edit_notification_buttons">
          <button class="submit_btn" type="submit" id="submit">Submit</button>
        </div>  
      </form>
    </div>
  </body>

  <!--
    th:id="*{dailyNotificationsYes}" th:name="*{dailyNotificationsYes}" 
    th:id="*{dailyNotificationsNo}" th:name="*{dailyNotificationsNo}" 
    th:id="*{mobileNotificationsYes}" th:name="*{mobileNotificationsYes}" 
    th:id="*{mobileNotificationsNo}" th:name="*{mobileNotificationsNo}" 
    th:id="*{emailNotificationsYes}" th:name="*{emailNotificationsYes}" 
    th:id="*{emailNotificationsNo}" th:name="*{emailNotificationsNo}" 
  -->